  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .navbar-dark .navbar-nav .nav-link{
  color:rgba(255,255,255,1);
  }
  
  
  .invalid-feedback{
  display:block;
  }
  
  .payment-button{
  background:#17a2b8;
  }
 .payment-button:hover{
  background:#17a2b8;
  border-color:#17a2b8;
  }
 
.container{
    margin:2rem auto;
    width:60%;
  }
  
  
  .card{
  height:100%;
  width:100%;
  }
  
  
  .row{
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  }

.col-lg-4{
	padding-right:1rem;
	padding-left:1rem;
	padding-top:1rem;
	padding-bottom:1rem;
	margin-left:0;
	margin-right:0;
	width:100%;
	
}

.card-img-top{
	height:60%;
	width:60%;
	margin:1rem auto;
}
  .card-class{
    transition: all .2s ease-in-out;
  }
  
   .card-class:hover{
    transform: scale(1.1);
  }
 
  .jumbotron{
   background-color: rgba(0,0,0,1);
  }
  
  
  .huckster{
  font-weight:400;
  font-family:cursive;
  }
  
  .hucksterLogo{
  	margin-top:0;
  	padding-top:0;
  	
  	width:25rem;
  	height:25rem;
  }
.xyz{
	font-style:italic;
}
  
  #section{
  padding-top:3rem;
  padding-bottom:3rem;
  padding-left:5rem;
  padding-right:5rem;
  margin:5rem auto;
  width:100%;
  background-color:#e9ecef;
  display:block;
  }
  
  
  
  @media (max-width:1000px){
  	
  	.container{
  	margin:2rem auto;
    width:90%;
  	}
  
  
  }
  